/* Universal Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}


/* header */

header.flex-container {
    position: fixed;
    height: 64px;
    width: 100%;
    align-items: center;
    z-index: 2;
    top: 0;
    background-color: white;
    border-bottom: 2px solid black;
}

header img {
    width: auto;
    height: 32px;
    margin-left: 24px;
}

.colmar,
.academy {
    font-size: 22px;
}

.colmar {
    font-weight: bold;
}

.academy {
    font-weight: lighter;
    color: gray;
}

span a{
    color: black;
}

nav {
    text-align: right;
    flex-grow: 1;
    right: 16px;
    position: relative;
}

nav span {
    display: inline-block;
    padding: 20px 8px;
    font-size: 22px;
    opacity: .8;
}

/* main section 1 */

main {
    width: 100%;
    padding-top: 64px;
}

.start {
    width: 100%;
    background-color: lightcyan;
    margin-top: 64px;
    align-content: center;
    justify-content: flex-start;
}

.start .img-container{
    width: 60%;
    padding: 32px 24px;
}
.start img {
    width: 100%;
    height: auto;
    /* margin: 32px 24px; */
    align-content: center;
    flex-shrink: 2;
}

.learn {
    flex-direction: column;
    width: 25%;
    justify-content: center;
}

.learn h1 {
    color: grey;
    /* opacity: .8; */
    font-size: 54px;
    font-weight: bold;
}

.learn h3 {
    color: grey;
    font-size: 28px;
    line-height: 1.4;
}


.button {
    display: block;
    background-color: darkcyan;
    padding: 8px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    opacity: .8;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
}

/* middle section */

.quotes {
    display: inline-flex;
}

.practicing {
    font-size: 40px;
    opacity: .7;
    font-weight: bolder;
}

.quote {
    font-size: 24px;
    opacity: .6;
}

.quote-citation {
    font-size: 18px;
    opacity: .6;
}

.left-container {
    flex-direction: column;
    height: auto;
    width: 60%;
    padding: 32px 24px;
    border-right: 2px solid lightgray;
    justify-content: space-between;
}

.left-container img {
    width: 100%;
}

.left-container-text {
    width: 100%;
    margin-top: 32px;
}

.box-container {
    width: 40%;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.box-text{
    padding-bottom: 8px;
    width: 65%;
    text-overflow: wrap;
    padding-left: 32px;

}

.Orientation {
    border-bottom: 4px double lightgray;
}

.speaker {
    background-color: darkgray;
}

.box {
    height: auto;
    width: 100%;
    padding: 16px;
    align-items: center;
}

.box img {
    width: 35%;
    height: auto;
}

.box div {
    width: 65%;
}

.box h1 {
    opacity: .6;
    font-size: 40px;
}

.box p {
    font-size: 24px;
    line-height: 2;
    opacity: .7;
}

.box a {
    color: blue;
    font-weight: bold;
}